<!DOCTYPE html>
<html>
<head>
	<title><?php echo $page_title; ?></title>	
	<link rel="stylesheet" href="includes/style.css" type="text/css"
        media="screen" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<div id="header">
		<h1>Your Website</h1>
		<h2>catchy slogan...</h2>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.php">Home Page</a></li>
			<li><a href="page1.php">Page 1</a></li>
			<li><a href="page2.php">Page 2</a></li>
		</ul>
	</div>
	<div id="content"><!-- Start of the page-specific content. -->
<!-- Script 9.1 - header.html -->